{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/analyse.css" %}">
    <title>Diabetes Analyse</title>
</head>
<body>
    <h1>Analyse de Diabète</h1>

    <div class="container">
        <!-- Formulaire de saisie -->
        <div class="form-container">
            <form method="post" action='{% url "analyseview" %}'>
                {% csrf_token %}
                <label for="age">Age:</label>
                <input type="text" name="age" required>

                <label for="gender">Genre :</label>
                <select name="gender" required>
                    <option value="" disabled selected>Sélectionnez votre genre</option>
                    <option value="0">Femme</option>
                    <option value="1">Homme</option>
                </select>

                <label for="hypertension">Hypertension :</label>
                <select name="hypertension" required>
                    <option value="" disabled selected>Sélectionnez une option</option>
                    <option value="0">Non</option>
                    <option value="1">Oui</option>
                </select>

                <label for="heart_disease">Maladie Cardiaque :</label>
                <select name="heart_disease" required>
                    <option value="" disabled selected>Sélectionnez une option</option>
                    <option value="0">Non</option>
                    <option value="1">Oui</option>
                </select>

                <label for="smoking_history">Antécédents de Tabagisme :</label>
                <select name="smoking_history" required>
                    <option value="" disabled selected>Sélectionnez une option</option>
                    <option value="0">Non</option>
                    <option value="1">Oui</option>
                </select>

                <label for="bmi">IMC:</label>
                <input type="text" name="bmi" required>

                <label for="HbA1c_level">Niveau HbA1c:</label>
                <input type="text" name="HbA1c_level" required>

                <label for="blood_glucose_level">Niveau de Glucose Sanguin:</label>
                <input type="text" name="blood_glucose_level" required>

                <button type="submit">Analyser</button>
            </form>
        </div>

        <!-- Tableau des résultats -->
        <div class="result-container">
            {% if prediction %}
                <h2>Résultat :</h2>
                <p class="result-text">{{ prediction }}</p>
                <h3>Probabilité :</h3>
                <p class="result-text">{{ prediction_percentage|floatformat:2 }}%</p>
            {% else %}
                <h2>Aucun résultat</h2>
                <p class="result-text">Soumettez une prédiction pour voir le résultat ici.</p>
            {% endif %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
