{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard - Diabetic Patients</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <button id="logout-button">Déconnexion</button> <!-- Bouton de déconnexion à gauche -->
        <h1>Tableau de bord Medecin</h1>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="new-analysis-button">Nouvelle analyse</button> <!-- Bouton Nouvelle analyse à droite -->
    </header>

    <section class="dashboard">
        <h2>Liste des patients diabétiques</h2>
        <div class="patient-table">
            <div class="table-header">
                <div class="table-row">
                    <div class="table-cell">Nom du patient</div>
                    <div class="table-cell">Age</div>
                    <div class="table-cell">Taux de sucre dans le sang (mg/dL)</div>
                    <div class="table-cell">Traitement</div>
                    <div class="table-cell">Dernier contrôle</div>
                    <div class="table-cell">Actions</div>
                </div>
            </div>

            <div class="table-body">
                <div class="table-row">
                    <div class="table-cell">Marcelo Vieira</div>
                    <div class="table-cell">55</div>
                    <div class="table-cell">180</div>
                    <div class="table-cell">Insuline</div>
                    <div class="table-cell">2024-10-10</div>
                    <div class="table-cell"><button>View</button></div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Vinicius Junior</div>
                    <div class="table-cell">47</div>
                    <div class="table-cell">150</div>
                    <div class="table-cell">La metformine</div>
                    <div class="table-cell">2024-09-28</div>
                    <div class="table-cell"><button>View</button></div>
                </div>
                <!-- Add more diabetic patients as needed -->
            </div>
        </div>
    </section>

    <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1>Prédiction de Diabète</h1>
            <form method="post">
                {% csrf_token %}
                <label for="age">Age:</label>
                <input type="text" name="age" required><br>
                
                <label for="gender">Genre (0: Femme, 1: Homme):</label>
                <input type="text" name="gender" required><br>
                
                <label for="hypertension">Hypertension (0: Non, 1: Oui):</label>
                <input type="text" name="hypertension" required><br>
                
                <label for="heart_disease">Maladie Cardiaque (0: Non, 1: Oui):</label>
                <input type="text" name="heart_disease" required><br>
                
                <label for="smoking_history">Antécédents de Tabagisme (0: Non, 1: Oui):</label>
                <input type="text" name="smoking_history" required><br>
                
                <label for="bmi">IMC:</label>
                <input type="text" name="bmi" required><br>
                
                <label for="HbA1c_level">Niveau HbA1c:</label>
                <input type="text" name="HbA1c_level" required><br>
                
                <label for="blood_glucose_level">Niveau de Glucose Sanguin:</label>
                <input type="text" name="blood_glucose_level" required><br>
        
                <button type="submit">Prédire</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
